src/main/mule/accounts-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-accounts-flow"
		doc:id="7b20c228-eb78-4a76-a8b9-c2c211269882">
		<db:select doc:name="SELECT flights_customers"
			doc:id="dde4508c-e56b-45ac-a3b0-e4a8d08d025a"
			config-ref="Database_Config">
			<db:sql><![CDATA[SELECT *
FROM flights_customers
WHERE accountType =:accountType
LIMIT 100]]></db:sql>
			<db:input-parameters><![CDATA[#[{'accountType' : attributes.queryParams."type"}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message"
			doc:id="6e961dff-f8b6-4545-bb96-98e825e0f4c6">
			<ee:message>
				<ee:set-payload
					resource="dw/flights_customers-to-accounts.dwl" />
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="get-accounts-id-flow" doc:id="f8875fb9-be32-4c40-aabc-86011df1b337" >
		<db:select doc:name="Select" doc:id="a2e2725f-e78d-4dd9-aea9-a9fb5ca3b91e" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT *
FROM flights_customers
WHERE accountID = :accountID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'accountID' : attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="74622ecf-0193-4781-b1db-6408397ceab2" >
			<ee:message >
				<ee:set-payload resource="dw/flights_customers-to-accounts.dwl"/>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
